<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.iqiyi.qigsaw.sample.java">

    <dist:module
        dist:onDemand="false"
        dist:title="@string/module_java">
        <dist:fusing dist:include="true" />
    </dist:module>

    <application android:name=".JavaSampleApplication">

        <activity
            android:name=".JavaSampleActivity"
            android:process=":qigsaw" />

        <provider
            android:name=".JavaContentProvider"
            android:authorities="java.feature"
            android:enabled="true"
            android:exported="false" />

    </application>

</manifest>