<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.iqiyi.qigsaw.sample.assets">

    <dist:module
        dist:onDemand="true"
        dist:title="@string/module_assets">
        <dist:fusing dist:include="true" />
    </dist:module>

    <application
        android:allowBackup="false"
        android:hasCode="false"
        tools:ignore="AllowBackup" />

</manifest>
